body {
  font-family: "Open Sans", sans-serif;
  background-color: #061E44;
}

h6 {
  margin-top: 0;
}

/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6rem;
  padding: 2rem 1rem;
  background-color: #14305D;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
}
/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 18rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* fix the width of the icons */
/* distance between icons and text */
.sidebar .nav-link i {
  width: 2rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 0.8;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  color: #C4CDD5;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h1 {
  opacity: 0;
  margin-left: 2rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}
.sidebar__header__text--grey {
  color: #C4CDD5;
}

/* position the content relative to the collapsed sidebar */
.content {
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}


.app__container {
    margin: 3.125% 5.125%;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.app__header__title {
    letter-spacing: 0.23rem;
}

.app__header__title--grey {
    color: #C4CDD5;
}

.app__footer--grey {
    color: #C4CDD5;
    box-sizing: border-box;
    display: block;
    float: none
    line-height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: auto;
    font-family: "helvetica";
}

.app__menu__img {
    height: 32px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.wind__speed__container {
    display: flex;
    flex-direction: column;
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    align-content: center;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.slider {
    padding: 15px;
}

.auto__checkbox {
    margin-right: 10px;
}

.auto__label {
    color: #DFE3E8;
}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 15px;
}

.histogram__direction {
    margin-left: 15px;
}

#wind-direction {
    display: flex;
    justify-content: center;
}

.footer_background {
    background-color: #000000;
}

@media only screen and (max-width: 600px) {
    .histogram__direction {
        margin: 15px 0px 20px 0px;
    }
    .app__content {
        display: block;
    }

    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        text-align: center;
    }
    .app__menu__img {
        height: 30px;
        width: auto;
    }
    .app__header__logo {
        order: 0;
    }
    .app__header__title {
        font-size: 1.5em;
        padding-top: 15px;
    }
}

.app__footer__img {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}
